---
layout: page
title: "About"
description: "Hey, this is Xin."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>保持学习<br>
    不断输出</p></blockquote>

    <p>Hey，我是<strong>郑鑫(PAUL)</strong>，在澳洲读书的计算机学生。</p>

    <p>欢迎来到我的个人博客</p>

    <p></p>
    
    <h5>Java</h5>

    <ul>
        <li><a href="http://zhengxin1024.top/2020/03/31/%E4%BD%BF%E7%94%A8JUnit4%E7%9A%84%E4%B8%80%E4%BA%9B%E7%BB%8F%E9%AA%8C-2020/">Java单元测试工具-Junit4</a></li>
        <li><a href="http://zhengxin1024.top/2020/05/27/%E4%BB%8E%E7%A9%BA%E6%8C%87%E9%92%88%E5%BC%82%E5%B8%B8%E5%88%B0%E5%80%BC%E4%BC%A0%E9%80%92/">Java的空指针异常和值传递</a></li>
                <li><a href="http://zhengxin1024.top/2020/05/27/equals()%E5%92%8C==/">Java中equals()与==的区别</a></li>
    </ul>

    <h5>Python</h5>

    <ul>
        <li><a href="http://zhengxin1024.top/2020/04/17/Python%E4%B8%8Ebytes-2020/">Python如何处理字节-struct/unicode</a></li>
    </ul>

    <h5>数据结构与算法</h5>

    <ul>
        <li><a href="http://zhengxin1024.top/2020/05/06/%E5%9F%BA%E7%A1%80%E7%9A%84%E6%8E%92%E5%BA%8F%E9%97%AE%E9%A2%98/">Java实现Compare接口并进行比较</a></li>
        <li><a href="http://zhengxin1024.top/2020/05/07/%E5%BD%92%E5%B9%B6%E6%8E%92%E5%BA%8F/">归并排序</a></li>
    </ul>

    <h5>JavaWeb</h5>

    <ul>
        <li><a href="http://zhengxin1024.top/2020/05/22/JavaWeb%E7%99%BB%E5%BD%95%E5%8A%9F%E8%83%BD/">Tomcat+Servelet+MySQL基础运用</a></li>
    </ul>

</div>



<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

